<h1>Edit Comment</h1>
<p class="error"><%= @comment.errors.full_messages.join(', ') %></p>
<%= form_for [@trip, @comment] do |c| %>
  <div>
    <%= c.label :body  %><br>
    <%= c.text_area :body %>
  </div>
  <%= c.submit 'Save Changes'%>
<% end %>
