<div class='row'>
  <div class='col-md-12'>
    <%= form_for(@budget, :html => {class: "form-horizontal", role: "form"}) do |t|%>
      <div class= "form-group">
        <div class="control-label col-sm-2">
          <%= t.label :item %>
        </div>
        <div class="col-sm-2">
          <%= t.text_field :item, class: "form-control", placeholder: "List your items", autofocus: true%>
        </div>
      </div>
      <div class= "form-group">
        <div class="control-label col-sm-2">
          <%= t.label :price %>
        </div>
        <div class="col-sm-2">
          <%= t.number_field :price, class: "form-control", placeholder: "0.0", autofocus: true%>
        </div>
        <%= t.submit class: 'btn btn-primary'%>
        <% end %>
      </div>
