<h1 align = "center">Trip Cost</h1>
<%= render 'form' %>
<div align="center">
<h3>How much is this trip going to cost?</h3>
<table cellspacing='0'>
  <table class="container">
    <h1 class="col-md-12">Total Cost($): <%= @budget.total%></h1>
    <thead>
    	<tr>
    		<h2><th>Item</th></h2>
    	  <h2><th>($)Price</th></h2>
    	  <h2><th>Status</th></h2>
      </tr>
    </thead>
    <tbody>
      <tr><% @budgets.each do |budget| %></tr>
        <td><%= budget.item %></td>
        <td><%= budget.price %></td>
        <% if budget.status == true %>
        <td><%= link_to "Bought", budget_status_index_path(budget), class: "btn btn-success btn-xs", method: :patch %></td>
        <% else %>
        <td><%= link_to "Not Yet", budget_status_index_path(budget), class: "btn btn-primary btn-xs", method: :post  %></td>
        <% end %>
        <td><%= link_to "Delete", budget, class: "glyphicon glyphicon-trash", method: :delete, data: {confirm: "Are you sure you want to delete this item?"} %></td>
        <% end %>
    </tbody>
  </table>
</table>
</div>
