
<div class="content">
  <h1 class= "tripvisity">Tripvisity</h1>
</div>



<%= render 'about' %>
<div class= "trip-pictures">
<div class= "row">
  <% @trips.each do |trip| %>
    <% trip.pictures.each_with_index do |picture, index| %>
    <% if (index >= 0 && index < 4) %>
      <div id= "row">
        <a href= "/trips/<%= trip.id %>"><%= image_tag picture.image.url(:medium) %></a>
      </div>
    <% elsif(index >= 4 && index < 8)%>
      <div id= "row">
        <a href= "/trips/<%= trip.id %>"><%= image_tag picture.image.url(:medium) %></a>
      </div>
    <% else %>
      <div id= "row">
        <a href= "/trips/<%= trip.id %>"><%= image_tag picture.image.url(:medium) %></a>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class= "footer">
  <div class="connect">
  <h1 class="connect">Connect With Us<h1>
  </div>
  <a href= "https://www.facebook.com/jen.yang.9041" class="fb" id="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href= "" class="twitter" id="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.2.0/js/smooth-scroll.js"></script>
<a data-scroll href="#bazinga">Anchor Link</a>

<span id="bazinga">Bazinga!</span>
<script>
    smoothScroll.init();
</script>

<script type= "text/javascript">
  $(document).ready(function () {
    $('.flexslider').flexslider({
        animation: 'fade',
        controlsContainer: '.flexslider'
    });
  });
</script>

<script>
$( ".connect" ).fadeIn(4000);

</script>
